
<table id="restaurants">
  <thead>
    <tr>
      <th id="name"> Name </th>
      <th id="address">Address</th>
      <th id="last_inspection" > Last Inspection </th>
    </tr>
  </thead>
  <tbody>
  <% @restaurants.each do |resto| %>
    <tr>
      <td> <%= link_to resto.name, resto %> </td>
      <td> <%= resto.address %> </td>
      <td> <%= latest_audit_date( resto ) %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
